/* Estilo de títulos */
h1, h2, h3 {
    color: #d12424;
    text-align: center;
    margin-top: 40px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
    color: #bd0f0f;
}

h3 {
    font-size: 24px;
    color: #777;
}

/* Estilos de párrafos */
p {
    font-size: 18px;
    color: #be0a0a;
    line-height: 1.6;
    text-align: center;
}

/* Estilo de listas */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    font-size: 18px;
}

ul li a {
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s ease;
}

ul li a:hover {
    color: #333;
}
