.entrantes-page body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.entrantes-page h1 {
    color: #2c3e50;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.entrantes-page p {
    text-align: center;
    font-size: 1.1rem;
    color: #555;
    
}

.postres-page body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.postres-page h1 {
    color: #2c3e50;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.postres-page p {
    text-align: center;
    font-size: 1.1rem;
    color: #555;
    
}

.platos-principales-page body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.platos-principales-page h1 {
    color: #2c3e50;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.platos-principales-page p {
    text-align: center;
    font-size: 1.1rem;
    color: #555;
    
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    min-height: 50vh;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: #2c3e50;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    text-align: center;
    font-size: 1.1rem;
    color: #555;
}
.card {
    width: 250px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
    text-align: center;
}

.card h2 {
    font-size: 1.5rem;
    color: #2c3e50;
    margin-bottom: 10px;
}
.card p {
    font-size: 1rem;
    color: #555;
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.card-body p {
    font-size: 0.9rem;
    color: #777;
}
