<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Cliente</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Añadir Cliente</h1>
        <form action="/clientes/add" method="post">
            <label for="nombre">Nombre del Cliente:</label>
            <input type="text" id="nombre" name="nombre" required>
            <button type="submit">Agregar</button>
        </form>

        <br>
        <a href="/clientes">Volver a la lista de clientes</a>
    </div>
</body>
</html>