<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Come y Calla{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', path='css/navbar.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', path='css/forms.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', path='css/content.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', path='css/menus.css') }}" />
    {% block css %}{% endblock %}
</head>
<body class="{% block body_class %}menu-page{% endblock %}">
    <header>
        <nav>
            <ul>
                <a href="{{ url_for('index') }}">Inicio</a>
                <a href="{{ url_for('menu') }}">Menú</a>
                <a href="{{ url_for('reservas') }}">Reservas</a>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Come y Calla. Todos los derechos reservados.</p>
    </footer>
    
</body>
</html>
