{% extends "base.html" %}

{% block title %}Bebidas - Come y Calla{% endblock %}
{% block body_class %}bebidas-page{% endblock %}

{% block content %}
    <h1>Bebidas</h1>
    <p>HIDRÁTATE Y CALLA</p>
    <div class="cards-container">
        <div class="card">
            <img src="/static/img/cerveza.webp" alt="cerveza">
            <div class="card-body">
                <h2>Cerveza</h2>
                <p>Buenisima ceveza, eso si, como te tomes mas de 2 flipas.</p>
            </div>
        </div>

        <div class="card">
            <img src="/static/img/vino-tinto.webp" alt="vino-tinto">
            <div class="card-body">
                <h2>Vino tinto</h2>
                <p>no esta muy allá, pero queda de señor asi que yo que tu lo pediría.</p>
            </div>
        </div>

        <div class="card">
            <img src="/static/img/refrescos.webp" alt="refrescos">
            <div class="card-body">
                <h2>Refrescos</h2>
                <p>mu frekito y operativo.</p>
            </div>
        </div>

        <div class="card">
            <img src="/static/img/agua.webp" alt="agua">
            <div class="card-body">
                <h2>Agua mineral</h2>
                <p>Agua bezoya... ya sabes lo que dicen, yo que tu la pedía.</p>
            </div>
        </div>
    </div>
{% endblock %}
