<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body>

    {% if nombre %}
        <h1>Bienvenido, estás gestionando clientes {{ nombre }}</h1>
    {% endif %}

    {% if clientes %}
        <h2>Lista de Clientes:</h2>
        {% for cliente in clientes %}
            <div>
                <p>{{ cliente.nombre }} (ID: {{ cliente.id }})</p>
                <form action="/clientes/delete" method="post" style="display:inline;">
                    <input type="hidden" name="id" value="{{ cliente.id }}">
                    <button type="submit">Eliminar</button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <h1>No hay clientes</h1>
    {% endif %}

    <h2>Añadir Cliente</h2>
    <form action="/clientes/add" method="post">
        <input type="text" name="nombre" placeholder="Nombre del cliente" required>
        <button type="submit">Añadir</button>
    </form>

    <h2>Buscar Cliente</h2>
    <form action="{{ url_for('buscar_cliente') }}" method="get">
        <input type="text" name="nombre" placeholder="Nombre del cliente a buscar" required>
        <input type="submit" value="Buscar">
    </form>

</body>
</html>
