{% extends "base.html" %}

{% block title %}Entrantes - Come y Calla{% endblock %}
{% block body_class %}entrantes-page{% endblock %}

{% block content %}
    <h1>Entrantes</h1>
    <p>Para un buen picoteo.</p>
    
    <div class="cards-container">
        <div class="card">
            <img src="/static/img/ensalada.webp" alt="ensalada">
            <div class="card-body">
                <h2>Ensalada de tomate y mozzarella</h2>
                <p>Tomate fresco, mozzarella de búfala y albahaca, aderezada con aceite de oliva virgen extra.</p>
            </div>
        </div>

        <div class="card">
            <img src="/static/img/patatas-bravas.webp" alt="patatas-bravas">
            <div class="card-body">
                <h2>Patatas bravas</h2>
                <p>Patatas fritas acompañadas de salsa brava picante y alioli.</p>
            </div>
        </div>

        <div class="card">
            <img src="/static/img/nachos.webp" alt="nachos-queso">
            <div class="card-body">
                <h2>Nachos con queso</h2>
                <p>Crispísimos nachos cubiertos con queso fundido y acompañados de guacamole y salsa.</p>
            </div>
        </div>

        <div class="card">
            <img src="/static/img/croquetas.webp" alt="croquetas-caseras">
            <div class="card-body">
                <h2>Croquetas caseras</h2>
                <p>Croquetas crujientes rellenas de jamón ibérico y bechamel.</p>
            </div>
        </div>
    </div>

{% endblock %}
