<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frutas de Temporada - Comprame Esta</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="frutas-temporada-page">
    <header>
        <h1 class="text-center">Frutas de Temporada</h1>
    </header>
    <section class="container my-4">
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class="card custom-card">
                    <img src="/static/img/manzana.webp" class="card-img-top" alt="Manzana">
                    <div class="card-body">
                        <h5 class="card-title">Manzana</h5>
                        <p><b>Propiedades:</b><br>Antiinflamatoria Diurética Antioxidante Cardioprotectora Digestiva</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card custom-card">
                    <img src="/static/img/naranja.webp" class="card-img-top" alt="Naranja">
                    <div class="card-body">
                        <h5 class="card-title">Naranja</h5>
                        <p><b>Propiedades:</b><br>Vitamina C Flavonoides Fibra Betacaroteno Diurética </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card custom-card">
                    <img src="/static/img/fresa.webp" class="card-img-top" alt="Fresa">
                    <div class="card-body">
                        <h5 class="card-title">Fresa</h5>
                        <p><b>Propiedades:</b><br>Antioxidante <br> + Vista <br> Digestiva <br> - Colesterol <br> - Anemia</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card custom-card">
                    <img src="/static/img/uva.webp" class="card-img-top" alt="Uva">
                    <div class="card-body">
                        <h5 class="card-title">Uva</h5>
                        <p><b>Propiedades:</b><br>Antioxidantes Salud ocular Vitaminas Estreñimiento Digestiva</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card custom-card">
                    <img src="/static/img/platano.webp" class="card-img-top" alt="Uva">
                    <div class="card-body">
                        <h5 class="card-title">Plátano</h5>
                        <p><b>Propiedades:</b><br>Energía <br> Potasio Vitaminas Magnesio Digestiva</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card custom-card">
                    <img src="/static/img/pera.webp" class="card-img-top" alt="Uva">
                    <div class="card-body">
                        <h5 class="card-title">Pera</h5>
                        <p><b>Propiedades:</b><br>Fibra <br> Minerales Vitaminas Anticancerígena Digestiva</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card custom-card">
                    <img src="/static/img/melocoton.webp" class="card-img-top" alt="Uva">
                    <div class="card-body">
                        <h5 class="card-title">Melocotón</h5>
                        <p><b>Propiedades:</b><br>Antioxidantes Minerales Vitaminas <br> Fibra <br> - calorias</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card custom-card">
                    <img src="/static/img/ciruela.webp" class="card-img-top" alt="Uva">
                    <div class="card-body">
                        <h5 class="card-title">Ciruela</h5>
                        <p><b>Propiedades:</b><br>Fibra Antioxidantes Vitaminas Minerales <br> - calorías</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; 2025 Comprame Esta. Todos los derechos reservados.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
