<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprame Esta - SUPERMERCADO</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <div class="banner">
            <h1>Bienvenido a Comprame Esta</h1>
            <p>VENGA, COMPRAME LA QUE ESTA DE AQUI</p>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="/frutas">Frutas</a></li>
            <li><a href="/pescado">Pescado</a></li>
            <li><a href="/alcohol">Alcohol</a></li>
            <li><a href="/lacteos">Lácteos</a></li>
        </ul>
    </nav>

    <footer>
        <p>&copy; 2025 Pepe Lotas. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
