{% extends "base.html" %}

{% block title %}Menú - Come y Calla{% endblock %}

{% block content %}
<h1>Menú Principal</h1>
<div class="menu-buttons">
    <a href="{{ url_for('entradas') }}" class="button">Entradas</a>
    <a href="{{ url_for('platos_principales') }}" class="button">Platos Principales</a>
    <a href="{{ url_for('postres') }}" class="button">Postres</a>
    <a href="{{ url_for('bebidas') }}" class="button">Bebidas</a>
    <a href="{{ url_for('menu_infantil') }}" class="button">Menú Infantil</a>
</div>
{% endblock %}